<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body class="body-new-task">
    <form class="add-task-form" method="post" action="/tasks">
        <h2>New Task</h2>
        <input type="text" name="title" placeholder="Task Name" required>
        <textarea name="description" placeholder="Task description" rows="4"></textarea>
        <input 
            type="text"
            name="deadline"
            placeholder="Task Deadline (YYYY-MM-DD HH:MM)"
            pattern="\d{4}-\d{2}-\d{2} \d{2}:\d{2}"
            >
        <select name="category">
            <option value="">Select Category</option>
            <option value="work">Work</option>
            <option value="personal">Personal</option>
        </select>
        <button type="submit">Create Task</button>
    </form>
</body>
</html>