<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="../static/style.css"> <!-- liên kết tới file CSS -->

</head>
<body class="body-reg">
<div class="auth-card">
    <h1>
        Register
    </h1>
    {%if error %}
    <div class="error">{{error}}</div>
    {% endif %}
    <form method="post" action="/register">
        <input type="text" name="username" placeholder="Username" required>
        <input type="password" name="password" placeholder="Password" required>
        <button type="Submit">Register</button>
    </form>
    <p>Already have an account ?<a href="/login">Login here</a></p>
</div>
</body>
</html>